@mixin distorted-text {
  text-shadow: -3px -1px 1px rgba(0, 30, 255, 0.5),
    3px 1px 1px rgba(255, 0, 80, 0.5);
}

@mixin undistorted-text {
  text-shadow: 0px 0px 1px rgba(0, 30, 255, 0.5),
    0px 0px 1px rgba(255, 0, 80, 0.5);
}

@mixin hover-distort-text {
  @include undistorted-text;

  transition: all 0.3s;

  &:hover,
  &:focus {
    @include distorted-text;
    outline: none;
  }
}

@mixin hover-undistort-text {
  @include distorted-text;

  transition: all 0.3s;

  &:hover,
  &:focus {
    @include undistorted-text;
    outline: none;
  }
}

@mixin above-bg {
  z-index: 3;
}

@mixin hover-above-bg {
  &:hover,
  &:focus {
    @include above-bg;
    outline: none;
  }
}
